<div class="container" data-ng-controller="HeaderController">
	<nav class="collapse navbar-collapse top-bar" collapse="!isCollapsed" role="navigation">
		<a href="/#!/" class="navbar-brand left">TOURNme</a>
                <section class='top-bar-section'>
		  <ul class="left" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
				<a href="/#!/{{item.link}}">{{item.title}}</a>
			</li>
		  </ul>
                </section>
                <section class='top-bar-section'>
		  <ul class="right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		  </ul>
                </section>
                 <section class='top-bar-section'>
		  	<ul class="right" data-ng-show="authentication.user">
				<li >
				<a href="/#!/settings/profile">{{authentication.user.displayName}}</a>
                         	</li>
			<li class="divider"></li>
			<li>
				<a href="/#!/settings/profile">Edit Profile</a>
			</li>
			<li>
				<a href="/#!/settings/accounts">Manage Social</a>
			</li>
			<li data-ng-show="authentication.user.provider === 'local'">
				<a href="/#!/settings/password">Change Password</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/auth/signout">Signout</a>
			</li>
			</ul>	
                </section>
	</nav>
</div>
