<section data-ng-controller="HomeController">
    <h1 class="text-center">WELCOME TO LEAGit - The Tournament Organizer!</h1>
    <section>
        <p>
		Run and Track Tournaments with Ease!
        </p>
        <dl>
            <dt>Create an account / sign in with Google/Facebook/Twitter</dt>
            <dd>
		Create an account to sign and in start making tournaments.
           </dd>
            <dt>Create The Tournament</dt>
            <dd>
                Create a Tournament.
            </dd>
            <dt>Create Competitors</dt>
            <dd>
		Either create new competitors to add to your tournament, or add competitors from previous ones to the tournament
            </dd>
            <dt>Create Matches</dt>
            <dd>
		Line up Matches for the Tournament, or use the auto-match generator to create them based on the tournament you are creating
            </dd>
		<dt> Run Tournament</dt>
		<dd>
		Run the Tournament, and track the winners and losers of the matches.
		</dd>
		<dt> Get the Results</dt>
		<dd>
			The results for your tournaments will automatically be created and shared.
		</dd>
		<dt> Have fun! </dt>
		<dd>
			Have fun with your tournaments!  Go wild, and crazy!
		</dd>
	</dl>
        <p class="alert alert-info">
		We aren't exactly ready for prime time yet, but we're getting there.
        </p>
        <br>
	<p>
        <br>We're just getting started,
        <br>The LEAGit Team.
	</p>
    </section>
</section>
