<section data-ng-controller="HomeController">
    <h1>Welcome to TOURNme - The Tournament Organizer!</h1>
    <section>
        <p>
		Run and Track Tournaments with Ease!
        </p>
        <dl>
            <dd>
		Create an account to sign and in start making tournaments.
           </dd>
            <dd>
		Auto-generate each round of matches using round robin, swiss, or random pairings.
            </dd>
		<dd>
		  Easily update the winners and losers of the matches, and share the results.
		</dd>
		<dd>
			Have fun, keeping the focus on the tournament, not tracking results!
		</dd>
	</dl>
		We're just getting started.  New features and streamlining of TOURNme are coming soon.
        <br>
        <br>The TOURNme Team.
    </section>
</section>
