.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.multiSelect.checkboxLayer, .box_outline {
	border-style: solid;
	border-width: .2em;
}

.portraitImage {
max-height:16em;
max-width:16em;
}

.portraitThumbnail {
max-height:3em;
max-width:3em;

}

.smallText {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: normal;

}
