<div class="row">  
  <div class="row">
    <div class="large-10 columns">
      <textarea data-ng-model="massCompetitors" id="massCompetitors" rows="3" placeholder="massCompetitors"></textarea>
    </div>
    <div class="large-2 columns">
      <a data-ng-click="createMassCompetitors(massCompetitors)" class="button">Create Mass Competitors</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div data-ng-show="ctrl.message" class="alert-box info radius">
	    <strong>{{ctrl.message}}</strong>
      </div>
      <div data-ng-show="ctrl.error" class="text-danger">
	<strong>{{ctrl.error}}</strong>
      </div>
    </div>
  </div>
</div>
