<section data-ng-controller="CompetitorsController">
    <div class="page-header row">
        <h4 class="large-10 columns">Create Mass Competitors</h4>
    </div>
    <div class="row">
      <div class="columns large-12">
        Create mass competitors, separating with a comma (eg: Bob, Stacy Ivington, "Bob Builder", etc)
        <br />
        Add emails by including them in &lt; and &gt; after name (eg: Doug Destroyer &lt;ddestroyer@gmail.com&gt;, "Carley Cunlingten" &lt;cc@gmail.com&gt;, etc)
      </div>
    </div>
  <div class="row">
    <div class="columns large-12">
  <competitors-mass-create createdcompetitors="createdMassCompetitors"></competitors-mass-create>
    </div>
  </div>
</section>
