<section data-ng-controller="CompetitorsController">
    <div class="page-header row">
        <h4 class="large-10 columns">Create Mass Competitors</h4>
    </div>
    <div class="row">
      <div class="columns large-12">
        create mass competitors in form: name, name, name &lt;email&gt;, "quote name" &lt;email&gt;
        <br />
        eg: Alder, Bob Builder, Doug Destroyer &lt;ddestroyer@gmail.com&gt;, "Carley Cunlingten" &lt;cc@gmail.com&gt;
      </div>
    </div>
  <div class="row">
    <div class="columns large-12">
  <competitors-mass-create createdcompetitors="createdMassCompetitors"></competitors-mass-create>
    </div>
  </div>
</section>
