<section data-ng-controller="CompetitorsController" data-ng-init="find()">
  <div class="row">
    <div class="columns small-6 left ">
      <small><a href="#!/competitors/search">search</a></small> |
      <small><a href="#!/competitors/create">create</a></small> |
      <small><a href="#!/competitors/masscreate">mass create</a></small>
    </div>
  </div>
  <div class="row">
    <div class="columns small-6">
    <h1>Competitors</h1>
    </div>
  </div>
  <div data-ng-repeat="competitor in competitors">
    <div class="row">
      <div class="small-2 columns left">
        <label class="right">competitor</label>
      </div>
      <div class="small-8 columns left">
        <h4 class="list-group-item-heading">
          <a data-ng-href="#!/competitors/{{competitor._id}}">
	    {{competitor.name}}
	  </a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <small><label class="right">date</label></small>
      </div>
      <div class="small-8 columns left">
        <small>{{competitor.created | date:'medium'}} / {{competitor.user.displayName}}</small>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <label class="right">email</label>
      </div>
      <div class="small-8 columns left">
        {{competitor.email}}
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
	<label class="right">description</label>
      </div>
      <div class="small-8 columns left">
    	{{competitor.description}}
      </div>
    </div>
    <br />
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!competitors.$resolved || competitors.length">
    No competitors yet, why don't you <a href="/#!/competitors/create">create one</a>?
    </div>
</section>
