<section data-ng-controller="CompetitorsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Competitors</h1>
  </div>
    <div class="row">
      <div class="column small-6">
        <competitor-search list="competitors"></competitor-search>
      </div>
    </div>
    <div class="row">
      <div class="column">
      <ul>
      	<li data-ng-repeat="competitor in competitors">
  	  <a href="#!/competitors/{{competitor._id}}">{{competitor.name}}</a>
      	</li>
      </ul>
      </div>
    </div>
  </div>
</section>
