	<div class="row">
	  <div class="column large-6">
	    <h4>{{ctrl.selectable_header}}</h4>
	    <div class="row">
	      <div class="columns large-6 left" data-ng-repeat="entry in selectable_list">
		<li><a data-ng-click="ctrl.selectSelectable(entry)">{{entry.name}}</a></li>
	      </div>
	    </div>
	  </div>
	  <div class="column large-6 left">
	    <h4>{{ctrl.selected_header}}</h4>
	    <div class="row">
	      <div class="columns large-6 left" data-ng-repeat="entry in selected_list">
		<li><a data-ng-click="ctrl.unselectSelected(entry)">{{entry.name}}</a></li>
	      </div>
	    </div>
	  </div>
	</div>
