<section data-ng-controller="CompetitorsController" data-ng-init="findOne()">
  <div class="row">
    <div class="columns small-8">	
      <h1 class="">{{competitor.name}}</h1>
    </div>
    <div class="columns small-4 ">
      <a data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash">remove</i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <div class="row">
        <div class="large-10 columns">
          <small>
  	    <em class="text-muted">Created on {{competitor.created | date:'mediumDate'}} by {{competitor.user.displayName}}</em>
	  </small>
        </div>
      </div>
      <br />
      <div class="row"> 
        <div class="large-2 columns">
          Email
        </div>
        <div class="large-10 columns"> 
          {{competitor.email}}
        </div>
      </div>
      <br />
      <div class="row">
	<div class="large-2 columns left">
          Description
        </div>
        <div class="large-8 columns left">
          {{competitor.description}}
        </div>
      </div>
      <br />
    </div>
    <div class="small-4 columns">
      <div class="row" data-ng-show="authentication.user._id == competitor.user._id">
      	<div class="small-2 columns left">
	  <a class="button" href="/#!/competitors/{{competitor._id}}/edit">
            <i class="glyphicon glyphicon-edit">edit</i>
	  </a>
	</div>
      </div>
      <div class="row">
        <img src="{{competitor.image}}" class="portraitImage" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns left">
	  	<a class="button" href="/#!/competitors/{{competitor._id}}/matches">Matches</a>
    </div>
  </div>
</section>
