		      <div class="row">
			<div class="control-label small-2 columns">
                    		<label class="right inline" for="new_match.name">Name</label>
			</div>
			<div class="controls small-6 columns left">
				<input type="text" id="new_match.name" data-ng-model="new_match.name" class="form-control" placeholder="new_match_name" >
			</div>
		      </div>
		      <div class="row">
			<div class="control-label large-2 columns">
                    		<label class="right inline" for="new_match_start_date">Start Date</label>
			</div>
			<div class="controls large-6 columns left">
				<quick-datepicker ng-model="new_match.start_date"></quick-datepicker>
			</div>
		      </div>
		      <div class="row">
			<div class="control-label large-2 columns">
	                    <label class="right inline" for="new_match.end_date">End Date</label>
			</div>
			<div class="controls large-6 columns left">
				<quick-datepicker ng-model="new_match.end_date"></quick-datepicker>

			</div>
		      </div>
		      <div class="row">
			<div class="control-label large-2 columns">
	                    <label class="right inline" for="new_match.location">Location</label>
			</div>
			<div class="controls large-6 columns left">
				<input type="text" data-ng-model="new_match.location" id="new_match.location" class="form-control" placeholder="new_match_location" >

			</div>
		      </div>
		      <div class="row">
			<div class="control-label large-2 columns">
	                    <label class="right inline" for="new_match.results">Results</label>
			</div>
			<div class="controls large-6 columns left">
				<select ng-model="new_match.results" ng-options="result.name for result in results">
				  <option value="">-- choose result --</option>
				</select>
			</div>
		      </div>
		      <div class="row">
			<div class="control-label large-2 columns">
	                    <label class="right inline" for="new_match.description">Description</label>
			</div>
			<div class="controls large-6 columns left">
				<input type="text" data-ng-model="new_match.description" id="new_match.description" class="form-control" placeholder="new_match_description" >
		      	</div>
		      </div>
                      <input ng-click="add_new_match()" value="Update" class="button">
