<section data-ng-controller="MatchesController" data-ng-init="findNew()">
  <div class="row">
    <div class="large-5 columns">
      <h2>Create Match</h2> 
      <h3> {{ match.name }} </h3>
    </div>
  <div class="row">
    <div class="large-10 columns">
      <a href="/#!/tournaments/{{tournament._id}}">Tournament: {{tournament.name}}</a>
	<br/>
      <input ng-click="create_match(match)" value="Create" class="button small-3 columns right" /> 
    </div>
  </div>
  <div class="row"> 
    <div class="large-2 columns">
               Name
              </div>
              <div class="large-8 columns left"> 
		<input type="text" data-ng-model="match.name" class="form-control" placeholder="Name" id="name" required />
              </div>
  </div>
  <div class="row"> 
    <div class="large-2 columns">
               Start Date
              </div>
              <div class="large-10 columns"> 
	 	<quick-datepicker ng-model="match.start_date" date-format="MMMM d yyyy (EEE)"></quick-datepicker>
              </div>
  </div>
  <br />
  <div class="row"> 
              <div class="large-2 columns">
               End Date
              </div>
              <div class="large-10 columns"> 
	 	<quick-datepicker ng-model="match.end_date" date-format=" MMMM d yyyy (EEE)"></quick-datepicker>
              </div>
  </div>
  <br />
  <div class="row">
    <div class="large-2 columns left">
      Location
    </div>
    <div class="large-8 columns left">
      <input type="text" data-ng-model="match.location" id="location" class="form-control" placeholder="Location" required />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="large-2 columns left">
      Description
    </div>
    <div class="large-8 columns left">
      <textarea data-ng-model="match.description" id="description" class="form-control" placeholder="Description"  cols="10" rows="2" required></textarea>
     </div>
  </div>
  <br />
  <div class="row">
    <div class="large-2 columns left"> Results</div>
    <div class="large-8 columns left">
      <select ng-model="match.results[0]" ng-options="result.name for result in matches.available_results">
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="large-2 columns left"> Competitors</div>
    <div class="large-8 columns left">
      <competitor-search list="match.selectable_competitors" parameters="tournamentId" ></competitor-search>
      <competitor-selects selectable="match.selectable_competitors" selected="match.selected_competitors"></competitor-selects>
    </div>
  </div>
<br />
  <div class="row">
    <div class="large-10 columns left">
      <input ng-click="create_match(match)" value="Create" class="button large-3 columns right">
    </div>
  </div>
</section>
