<div>
  <h2>Build Ad Hoc Matches for Tournament</h2>      
  <h3>Tournament: {{ tournament.name }} </h3>
   <a class="button" data-ng-click="createRandomAdHocMatches(tournament)">Ad Hoc</a> 
   <a class="button" data-ng-click="createNextRoundBasedOnWins(tournament)">Round By Wins</a> 
   <a class="button" data-ng-click="updateMatchesBasedOnLadder(tournament)">Round By Ladder</a> 
   <a class="button" data-ng-click="createRoundsBasedOnRoundRobin(tournament)">Rounds By Round Robin</a> 
  <div class="row">
    <div class="row">Matches</div>
    <div class="row" data-ng-repeat="match in tournament.matches">
      <div class="row">
        <div class="large-2 columns">
          <label class="right">Match</label>
        </div>
        <div class="large-8 columnes">
          {{match.name}}
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <label class="right">Round</label>
        </div>
        <div class="large-8 columnes">
          {{match.round}}
        </div>
      </div>
      <div class="row" data-ng-repeat="competitor in match.competitors">
        <div class="large-2 columns">
          <label class="right">Competitor</label>
        </div>
        <div class="large-8 columnes">
          {{competitor.name}}
        </div>
      </div>
    </div>
  </div>
</div>
