<section data-ng-controller="MatchesController" data-ng-init="findCompetitorMatches()">
  <div class="row">
    <h1><a href="#!/competitors/{{competitor._id}}">{{competitor.name}}</a>: Competitor Matches</h1>
  </div>
  <div data-ng-repeat="tournament in tournaments" data-ng-href="#!/tournaments/{{tournament._id}}" class="row">
    <div class="row">
      <div class="small-2 columns left">
	<label class="right">Tournament</label>
      </div>
      <div class="small-8 columns left">
        <h3>
    	  <a data-ng-href="#!/tournaments/{{tournament._id}}" class="list-group-item">{{tournament.name}}</a>
        </h3>
      </div>
    </div>
    <div data-ng-repeat="match in tournament.matches" class="row">
      <div class="row">
      	<div class="small-2 columns left">
	  <label><small class="right">created</small></label>
    	</div>
      <div class="small-8 columns left">
      	<small class="list-group-item-text">{{match.created | date:'medium'}}</small>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
      	<label class="right">Match</label>
      </div>
      <div class="small-8 columns left">
      	<h4 class="list-group-item-heading"><a data-ng-href="#!/matches/{{match._id}}">
{{match.name}}</a></h4>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
      	<label class="right">Start Date</label>
      </div>
      <div class="small-8 columns left">
     	{{match.start_date | full_normal_date}}
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
      	<label class="right">End Date</label>
      </div>
      <div class="small-8 columns left">
      	{{match.end_date | full_normal_date}}
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
    	<label class="right">Competitors</label>
      </div>
      <div class="small-8 columns left">
      	<div class="row">
	  {{match.competitor_list.length}}
        </div>
        <div class="row">
          <ul>
	    <li data-ng-repeat="competitor in match.competitor_list" class="list-group-item-heading" >
	      <a data-ng-href="#!competitors/{{competitor.id}}">{{ competitor.name }}</a>
	    </li>
	  </ul>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!matches.$resolved || matches.length">
  </div>
</section>
