<section data-ng-controller="MatchesController" data-ng-init="initResolveMatchesForTournament()">
  <div class="row">
    <div class="large-12 columns">
      <h4>{{tournament.name}}: Resolve Matches</h4>
    </div>
  <div class="row">
    <div class="columns small">
	  <a href="#!/tournaments/{{tournament._id}}">back to view</a>
	</div>
  </div>
  <div class="row">
	<div class="columns large-1">
	    <label class="right">competitors</label>
	</div>
    <div class="columns large-9">
      <div class="row">
        <div class="columns large-3 left"  data-ng-repeat="competitor in tournament.competitors_full">
          <li>
	        {{competitor.name}}
          </li>
      </div>
      </div>
    </div>
    <div class="large-2 columns" data-ng-controller="TournamentsController" data-ng-init="initNextButtons()">
      <a class="button round" data-ng-click="updateSpecial(tournament)">{{ nextButton.next.text }}</a>
    </div>
  </div>
  <div class="row">
    <hr />
    <div data-ng-repeat="match in tournament.matches" class="large-12 columns">
      <mass-edit-matches match="match"></mass-edit-matches>
      <hr />
    </div>
  </div>
</section>
