<section data-ng-controller="MatchesController" data-ng-init="findOne()">
	<div class="page-header row">
		<h1 class="large-10 columns">{{match.name}}</h1>
	</div>
        <div class="row">
          <div class="large-10 columns">
	    <div class="row">
              <div class="large-10 columns">
	      <small>
		<em class="text-muted">Created on {{match.created | date:'mediumDate'}} by {{match.user.displayName}}</em>
	       </small>
              </div>
            </div>
            <br />
	    <div class="row"> 
              <div class="large-2 columns">
               Start Date
              </div>
              <div class="large-10 columns"> 
                {{match.start_date}}
              </div>
	    </div>
            <br />
	    <div class="row"> 
              <div class="large-2 columns">
               End Date
              </div>
              <div class="large-10 columns"> 
                {{match.end_date}}
              </div>
	    </div>
            <br />
            <br />
	    <div class="row"> 
              <div class="large-2 columns">
               Competitors 
              </div>
              <div class="large-10 columns"> 
                {{match.competitors.length}}
              </div>
	    </div>
            <br />
            <div class="row">
		<div class="large-2 columns left">
                 Description
                </div>
                <div class="large-8 columns left">
                  {{match.description}}
                </div>
            </div>
            <br />
	    <div class="row" >
              <div class="small-2 columns left">
		<a class="button" href="/#!/matches/{{match._id}}/edit">
                  <i class="glyphicon glyphicon-edit">edit</i>
		</a>
              </div>
              <div class="small-2 columns left">
		<a class="button" data-ng-click="remove();">
		  <i class="glyphicon glyphicon-trash">remove</i>
		</a>
              </div>
            </div>
          </div>
	</div>
   
	<p class="lead">
	</p>
</section>
