<section data-ng-controller="TournamentsController" data-ng-init="findOne()">
    <div class="page-header row">
        <h1 class="large-10 columns">Edit Tournament</h1>
    </div>
    <div class="col-md-12 row">
        <form class="form-horizontal large-10 columns" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament.name">Name</label>
                  </div>
                    <div class="controls large-8 columns left">
                        <input type="text" data-ng-model="tournament.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament.start_date">Start Date</label>
                  </div>
			<div class="controls large-3 columns left">
				<quick-datepicker ng-model="tournament.start_date"></quick-datepicker>
			</div>
                </div>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament.end_date">End Date</label>
                  </div>
			<div class="controls large-3 columns left">
				<quick-datepicker ng-model="tournament.end_date"></quick-datepicker>
			</div>
                </div>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament.type">Type</label>
                  </div>
                    <div class="controls large-8 columns left">
		    <select data-native-menu="false" data-ng-model="tournament.type" data-role="listview">
				<option ng-repeat="available_type in available_types" value="{{available_type.id}}">{{available_type.name}}</option>
		    </select>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament_matches">Matches</label>
                  </div>
		  <div class="control-label large-8 columns left">
		    <div class="row inline">
		    	<label class="left inline" >{{ tournament.matches.length }}</label>
		   </div>
                    <div data-ng-repeat="match in tournament.matches" class="match row">
			<div ng-include="'/modules/tournaments/views/edit-match-tournament.client.view.html'"></div>
                    </div>
                  </div>
                </div>
		<div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament_matches">New Match</label>
                  </div>
		  <div class="large-8 columns">
		    <div class="row">
                      <input ng-click="toggle_new_match()" value="Add New Match" class="button">
		    </div>
		   <div ng-show="show_new_match" class="box_outline">
		     <div ng-include="'/modules/tournaments/views/add-match-tournament.client.view.html'"></div> 
		   </div>
		  </div>
		</div>
                <div class="form-group row">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament_competitors">Competitors</label>
                  </div>
                    <div class="controls large-8 columns left">
			<multi-select input-model="available_competitors" button-label="name" item-label="name" tick-property="selected" >
			</multi-select>
                    </div>
                </div>
                <div class="form-group">
                  <div class="control-label large-2 columns">
                    <label class="right inline" for="tournament.description">Description</label>
                  </div>
                    <div class="controls large-8 columns left">
                        <textarea data-ng-model="tournament.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                    </div>
                </div>
               <br />
                <div class="form-group row">
                  <div class="large-8 columns large-offset-2 left">
                    <input type="submit" value="Update" class="button">
                  </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
