<section data-ng-controller="TournamentsController" data-ng-init="findOne()">
  <div class="large-10 columns">
    <div class="row">
      <div class="small-6 columns">
        <h2>{{tournaments.tournament.name}}</h2>
      </div>
      <div class="small-2 columns right" data-ng-show="authentication.user._id == tournaments.tournament.user._id">
	<br />
        <a data-ng-show="authentication.user._id == tournaments.tournament.user._id" data-ng-click="remove();" class="right">remove</a>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns">
	<small>
	  <em class="text-muted">Created on {{tournaments.tournament.created | date:'mediumDate'}} by {{tournaments.tournament.user.displayName}}</em>
	</small>
      </div>
      <div class="small-2 columns right" data-ng-show="authentication.user._id == tournaments.tournament.user._id">
	<a class="button right" href="/#!/tournaments/{{tournaments.tournament._id}}/edit">
      	  <i class="glyphicon glyphicon-edit">edit</i>
	</a>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns"> 
	<div class="row">
      	  <div class="large-2 columns">
            Start Date
          </div>
          <div class="large-10 columns"> 
            {{tournaments.tournament.start_date | full_normal_date}}
     	  </div>
	</div>
        <br />
	<div class="row"> 
          <div class="large-2 columns">
            End Date
          </div>
          <div class="large-10 columns"> 
            {{tournaments.tournament.end_date | full_normal_date}}
          </div>
	</div>
	<br />
	<div class="row">
          <div class="large-2 columns">
            Type
          </div>
          <div class="large-10 columns"> 
            {{tournaments.tournament.type}}
          </div>
	</div>
	<br />
        <div class="row">
	  <div class="large-2 columns left">
            Description
          </div>
          <div class="large-8 columns left">
            {{tournaments.tournament.description}}
          </div>
        </div>
      </div>
      <div class="small-4 columns portraitImage" >
	<img src="{{tournaments.tournament.image}}" />
      </div>
    </div>
    <br />
    <div class="row"> 
      <div class="large-2 columns">
        Matches 
      </div>
    <div class="large-10 columns">
      <div class="row">
		  <div class="large-6 columns"> 
                    {{tournaments.tournament.matches.length}}
	            <ul>
	              <li data-ng-repeat="match in tournaments.tournament.matches"  class="list-group-item-heading">
		        <a data-ng-href="#!/matches/{{match._id}}">{{ match.name }}</a>
	             </li>
	            </ul>
		  </div>
		  <div class="large-6 columns">
		    <a class="button right right" href="/#!/tournaments/{{tournaments.tournament._id}}/matches/create">Add Match</a>
		  </div>
		</div>
              </div>
	    </div>
            <br />
	    <div class="row"> 
              <div class="large-2 columns">
               Competitors 
              </div>
              <div class="large-10 columns"> 
                {{tournaments.tournament.competitors.length}}
	        <ul>
	          <li data-ng-repeat="competitor in tournaments.tournament.selected_competitors" class="list-group-item-heading">
		    <a data-ng-href="#!/competitors/{{competitor.id}}">{{ competitor.name }}</a>
	         </li>
	        </ul>
              </div>
	    </div>
            <br />
          </div>
	</div>
   
	<div class="row">
	    <div class="large-10 columns" data-ng-show="authentication.user._id == tournaments.tournament.user._id">
		<a class="button right large-2 right" href="/#!/tournaments/{{tournaments.tournament._id}}/edit">
                  <i class="glyphicon glyphicon-edit">edit</i>
		</a>
	  </div>
	<p class="lead">
	</p>
</section>
