
			  <div class="row">
			    <div class="large-9 columns">
			      {{ match.name }} - {{ match.start_date | format_date }}
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-6 columns">
			      {{ match.location.toString() }}
			    </div>
			    <div class="large-6 columns">
			      {{ match.results[0].name }}
			    </div>
			  </div>
			  <div class="row">
			    Competitors:
			    <ul>
			      <li data-ng-repeat="competitor in match.currentCompetitors()">
			{{ competitor.name }}
			      </li>
			    </ul>
			  </div>

